.loginWrap {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 70%;
	-webkit-transform: translateX(-50%) translateY(-55%);
}

.admin_login {
	width: 55%;
	padding: 0 20px;
}

.admin_login h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 7px;
	margin-bottom: 7px;
}

.admin_login h1 img {
	width: 7%;
	padding-right: 7px;
}

.admin_login h1 span {
	font-size: 20px;
	font-weight: 550;
	letter-spacing: 2px;
}

.form_login {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.form_login .form-group {
	border-bottom: 1px solid #b61d22;
	padding: 10px 10px 0px 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:100%;
}

.form_login .form-group i {
	color: #bebebe;
	font-size: 24px;
	margin-bottom: 10px;
	/*background: red;*/
	text-align: center;
	width: 8%;
}


input:focus {
	outline: none;
}

.forget_btn {
	text-align: right;
	padding: 20px 0 0;
	text-decoration: none;
	color: black;
}

.submit_btn {
	display: block;
	width: 50%;
	border: none;
	background-color: #b61d22;
	color: #FFFFFF;
	font-size: 18px;
	margin: auto;
	line-height: 36px;
	margin:0 auto;
	margin-top: 35px;
	letter-spacing: 2px;
	cursor: pointer;
}

.img_login {
	width: 45%;
}

.img_login img {
	width: 100%;
	height: auto;
}

#layui-layer2 {
	background: red!important;
}

input {
	width: 300px;
	height: 50px;
	outline: none;
	background-color: transparent;
	border: 0;
	display: block;
	margin:0 auto;
}

input:-internal-autofill-selected {
	background-color: rgb(256, 256, 256) !important;
	;
}

.calendar.min {
	z-index: 9;
}

html {
	font: 500 14px 'roboto';
	color: #333;
	background-color: #fff;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#demo {
	width: 300px;
	margin: 150px auto;
}

p {
	margin: 0;
}

.fa {
	cursor: pointer;
}

.select {
	height: 50px;
	width: 300px;
	background: transparent;
	border: none;
	/*padding-left: 10px;*/
	appearance: none;
	display: block;
	border: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin:0 auto;
}

.select:focus {
	outline: none;
}

.select::-ms-expand {
	display: none;
}

#div {
	display: none;
	position: absolute;
}

#ul li:hover {
	background-color: gainsboro;
}

#main {
	line-height: 50px;
}

#ul {
	margin-top: 9px;
}

#ul li {
	width: 238px;
	height: 50px;
	border: 1px solid gray;
	border-top: none;
	background: white;
	cursor: pointer;
	color: #369;
	line-height: 50px;
}

.gray {
	color: gray
}

.block {
	color: block
}