<!Doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>leoweather</title>
		<!--<link rel="stylesheet" type="text/css" href="assets/css/common/flavr.css">-->
		<link rel="stylesheet" type="text/css" href="assets/css/common/password_shard.css">
		<!--<link rel="stylesheet" type="text/css" href="assets/js/skin/layer.css">-->
		<!--<script type="text/javascript" src="assets/js/flavr.js"></script>-->
		<script type="text/javascript" src="assets/js/common/component.js"></script>
		<script type="text/javascript" src="assets/js/common/app.js"></script>
		<!--<script type="text/javascript" src="assets/js/layer.min.js"></script>-->
		<script type="text/javascript" src="assets/js/dateDemo/dateDemo.js"></script>

	</head>

	<body>
		<nav role="navigation" class="navWrap">
			<div class="logo">
				<img class="login_img" src="assets/img/logo-light.png" alt="logo" />
				<span>上海品星互联网技术有限公司</span>
			</div>

			<div class="header-nav">
				<div></div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<img alt="" class="admin-pic img-circle" src="assets/img/photo.jpg">admin<span class="header_userName"></span><b class="caret"></b>
						</a>
						<ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">
							<li>
								<a href="Javascript:;" class="loginOut">
									<i class="icon iconfont icon-qunfenganquantuichu"></i>&nbsp;&nbsp;安全退出
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="Javascript:;" class="revise">
									<i class="icon iconfont icon-xiugaimima"></i>&nbsp;&nbsp;修改密码
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<i data-toggle="tooltip" class="entypo-cog"></i>&nbsp;&nbsp;Setting
						</a>
						<ul role="menu" class="dropdown-setting dropdown-menu dropDown table">
							<div class="nowYear"></div>
							<div class="weeks"></div>
							<div class="dates"></div>
							<div class="nowMonth"></div>
							<div class="task">
								<p>我的任务</p>
								<p>我的消息</p>
							</div>
						</ul>
					</li>
				</ul>
				<input type="hidden" id="bgImgBox" value="assets/img/bg.jpg">
			</div>
			<!-- /.container-fluid -->
		</nav>
	</body>

</html>