<!DOCTYPE html>
<html>
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>修改密码</title>
		<link rel="stylesheet" href="../../assets/css/common/hdw.css" />
		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/system/changePass.js"></script>
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
	</head>
	<body>
		<div id="form">
			<!--<div class="one">
				<label for="username">账号</label>
				<input type="text" id="username" class="a1" />
			</div>-->
			<div class="one">
				<label for="passwowd">旧密码</label>
				<input type="password" id="oldPassword" class="a1" />
			</div>
			<div class="one">
				<label for="passwowd">新密码</label>
				<input type="password" id="password" class="a1" />
			</div>
			<div class="one">
				<label for="passwords">确认密码</label>
				<input type="password" id="passwords" class="a1" />
			</div>
			<div class="two">
				<input type="submit" id="send" value="提交" />
				<input type="reset" id="res" value="重置" />
			</div>
		</div>
	</body>
</html>
