<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Access-Control-Allow-Origin" content="*" />
		<title>月末结账</title>
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/baseDoc/DeptDoc.css" />
 
		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/account/dealMonth.js"></script>

		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<style type="text/css">
			.ui-state-highlight {
				color: red !important;
			}
			
			form {
				display: inline-block;
				font-size: 14px;
			}
			.info {
				width: auto!important
			}
		</style>
	</head>

	<body>

		<div class="purchaseOrder">
			<div class="purchaseTit">
				<div class="buttons" style="margin: 20px;">
					<button class="set">一键设置</button>
					<button class="deal">结账</button>
					<button class="cancelDeal">取消结账</button>
				</div>
			</div>
			<table id="jqgrids"></table>
			<div id="jqGridPager"></div>
		</div>
	</body>

</html>