<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Access-Control-Allow-Origin" content="*" />
		<title>进销存统计表</title>

		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrCls.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrDoc.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />

		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>

		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/js/common/xlsx.full.min.js"></script>

		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src="../../assets/js/common/xlsx.full.min.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/baseDocAll.js'></script>
		<script type="text/javascript" src="../../assets/js/mis/account/invoiving.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>

	</head>
	<style>
		body {
			overflow-x: hidden;
		}
	</style>

	<body>
		<div id="purchaseOrder">
			<div class="purchaseTit">
				<div class="buttons">
					<button class="exportExcel">导出</button>
					<button class="find">查询</button>
				</div>
			</div>

			<div class="order-title">
				<form class="row" id="formSave">
					<div class="info">
						<div class="supplier col-md-4">
							<span>存货编码</span><input type="text" id="invtyEncd" class="invtyEncd encds" name="invtyEncd" value="" />
							<input type="text" id="invtyNm" class="invtyNm names" name="invtyNm" value="" readonly="readonly" />
							<span><img class="biao_invtyEncd" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="purchaseType col-md-4">
							<span>存货分类编码</span><input type="text" id="invtyCls" class="invtyCls encds" name="invtyClsEncd" value="" />
							<input type="text" id="invtyClsNm" class="invtyClsNm names" name="invtyClsNm" value="" readonly="readonly" />
							<span><img class="invtyClsEncd_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="supplier col-md-4">
							<span>单据日期</span>
							<input type="text" class="formSDt date1" value="" calendar="YYYY-MM-DD" />到<input type="text" class="formEDt date2" value="" calendar="YYYY-MM-DD" />
						</div>
					</div>
				</form>
			</div>
			<table id="jqgrids"></table>
			<div id="jqGridPager"></div>
		</div>

	</body>

</html>