<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<title>库存期初表</title>
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrCls.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrDoc.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />


		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/account/invtyTermBgnTab.js"></script>
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>

		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
	</head>
	<style>
		form {
			display: inline-block;
			font-size: 14px;
		}
	</style>
	<body>

		<div class="purchaseOrder">
			<div class="purchaseTit">
				<!--<h1 class="title" style="margin:30px">库存期初表</h1>-->
			</div>
			<div class="order-title">
				<form class="row" id="formSave" style="margin:30px">
					<div class="orderDates">
						<button type="button" class="search">查询</button>
					</div>
				</form>
				<span>
							<form id="uploadForm" enctype="multipart/form-data">
								<input type="file" name="FileUpload" id="FileUpload">
							</form>
						</span>
			</div>
			<table id="jqGrids"></table>
			<div id="jqGridPager"></div>
		</div>
	</body>

</html>