<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>恢复记账</title>
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrCls.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrDoc.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />

		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/account/resumpAccount.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/baseDocAll.js'></script>

	</head>

	<body>
		<div id="purchaseOrder">
			<div class="purchaseTit">
				<div class="buttons">
					<button id="find">查询</button>
					<button class="resump">恢复</button>
				</div>

			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="purchaseType col-md-4">
						<span>仓库编码</span><input type="text" id="whsEncd" class="whsEncd encds" name="whsEncd" value="" />
						<input type="text" id="whsNm" class="whsNm names" name="whsNm" value="" readonly="readonly" />
						<span><img class="biao_whsEncd" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="purchaseType col-md-4">
						<span>存货分类编码</span><input type="text" id="invtyCls" class="invtyCls encds" name="invtyClsEncd" value="" />
						<input type="text" id="invtyClsNm" class="invtyClsNm names" name="invtyClsNm" value="" readonly="readonly" />
						<span><img class="invtyClsEncd_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div id="whsNm" readonly="readonly"></div>
					<div class="orderNumbers col-md-4 three">
						<span>单据类型</span><input type="text" id="formCode1" name="formCode1" class="formTypeList" value="" readonly="readonly"/>
						<input name="formCode" id="formCode" type="text" style="display: none;" />
						<span><img class="momKitNm" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="orderDates col-md-4">
						<span>存货编码</span>
						<input type="text" id="invtyEncd" class="invtyEncd encds" name="invtyEncd" value="" />
						<input type="text" id="invtyNm" class="invtyNm names" name="invtyNm" value="" />
						<span><img class="biao_invtyEncd" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="orderNumbers col-md-4 four">
						<span>单据号</span><input type="text" id="formNum" class="formNum" name="formNum" value=""/>
					</div>
					<div class="orderNumbers col-md-4 four">
						<span>单据日期</span>
						<input type="text" class="date" id="formSDt" value="" readonly="readonly" calendar="YYYY-MM-DD"/>到<input type="text" class="date" id="formEDt" value="" readonly="readonly" calendar="YYYY-MM-DD"/>
					</div>
					<div class="orderNumbers col-md-4 four">
						<span>记账日期</span>
						<input type="text" class="date" id="bookOkSDt" value="" readonly="readonly" calendar="YYYY-MM-DD"/>到<input type="text" class="date" id="bookOkEDt" value="" readonly="readonly" calendar="YYYY-MM-DD"/>
					</div>
				</form>
			</div>

			<table id="order_jqGrids"></table>
			<div id="order_jqGridPager"></div>
		</div>
	</body>

</html>