<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       >

    <!-- 电商模块 -->
    <context:component-scan base-package="com.px.mis.ec.dao" />
    <context:component-scan base-package="com.px.mis.ec.service.impl" />

    <!-- 采购模块 -->
    <context:component-scan base-package="com.px.mis.purc.dao" />
    <context:component-scan base-package="com.px.mis.purc.service.impl" />

    <!-- 销售模块 -->
    <context:component-scan base-package="com.px.mis.sell.dao.impl" />
    <context:component-scan base-package="com.px.mis.sell.service.impl" />

    <!-- 仓库模块 -->
    <context:component-scan base-package="com.px.mis.whs.dao.impl" />
    <context:component-scan base-package="com.px.mis.whs.service.impl" />

    <!-- 系统模块 -->
    <context:component-scan base-package="com.px.mis.system.dao.impl" />
    <context:component-scan base-package="com.px.mis.system.service.impl" />
    
     <!-- 存货核算模块 -->
    <context:component-scan base-package="com.px.mis.account.dao" />
    <context:component-scan base-package="com.px.mis.account.service.impl" />
    
	<context:component-scan base-package="com.px.mis.util" />
	

    <import resource="classpath:mybatis.xml"/>
</beans>