.password_shard {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.7);
}

.revise_password {
	width: 500px;
	height: 400px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -45px;
	z-index: 10000;
	border-radius: 5px;
}

.flavr-outer {
	width: 500px;
	height: 400px;
}

.flavr-outer {
	width: 260px;
	height: 265px;
}

.flavr-container .flavr-fixer .flavr-outer {
	width: 500px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}


/*日期温度样式  */

#nt-title iframe {
	margin-left: 16px;
}

.running-text ul {
	height: 18px;
	list-style-type: none
}

.running-text ul .date-top {
	padding-left: 8px;
	margin: 0;
}

.running-text ul .digital {
	padding-left: 20px;
	margin: 0;
}

::-webkit-scrollbar {
	display: none
}

.dropDown {
	padding: 0px 0px 0px 8px;
	border-bottom: 5px solid #d8d8d8;
}

.dropDown .weeks,
.dropDown .dates {
	width: 100%;
}

.dropDown .weeks span {
	display: inline-block;
	width: 52px;
	background: #345167;
	color: #FFFFF5;
	margin: 3px 2px 0px 1px;
	text-align: center;
	font-size: 10px;
}

.dropDown .weeks span:last-child,
.dropDown .weeks span:first-child {
	background: #f1c2b2;
	color: #b9262c;
}

.dropDown h1 {
	color: #345167;
	margin-top: 8px;
}

.dropDown .dates span {
	display: inline-block;
	width: 52px;
	box-shadow: 0 0 7px #CCCCCC;
	margin: 3px 2px 0px 1px;
	color: #345167;
	font-weight: 500;
	text-align: center;
	display:-moz-inline-box;
}

.dropdown-menu .dates span b {
	display: block;
	text-align: center;
	font-size: 10px;
	line-height: 13px;
}

.months {
	text-align: right;
	padding-right: 3px;
}

.task{
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #5b5a61;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 5px;
	border-top: 5px solid #d8d8d8;
}

.task p {
	border-bottom: 5px solid #d8d8d8;
}

.todayBg {
	background: #345167;
	color: #FFFFFF!important;
}
