<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RefundOrders">
  
  <insert id="insertList" parameterType="com.px.mis.ec.entity.RefundOrders">
	INSERT INTO refund_orders (ref_id, good_id, good_name, good_sku, can_ref_num, can_ref_money, ref_money, ref_num, batch_no, 
	ref_whs, memo)
    VALUES
    <!--item就是List里每一项的对象名，要用","分割每一条数据，最后要";"结尾-->
    <foreach collection="list" item="item" index="index" separator="," close=";">
      (#{item.refId}, #{item.goodId}, #{item.goodName}, #{item.goodSku}, #{item.canRefNum}, #{item.canRefMoney}, #{item.refMoney}, 
      #{item.refNum}, #{item.batchNo}, #{item.refWhs}, #{item.memo})
    </foreach>
  </insert>
  
  <select id="selectList" parameterType="Map" resultType="com.px.mis.ec.entity.RefundOrder">
	SELECT no, ref_id, good_id, good_name, good_sku, can_ref_num, can_ref_money, ref_money, ref_num, batch_no, 
	ref_whs, memo
  	WHERE ref_id=#{refId}
  </select>
  
  <delete id="delete" parameterType="java.lang.String">
  	DELETE FROM  refund_orders
  	WHERE ref_id = #{refId}
  </delete>
  
</mapper>