<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<title>调拨单列表</title>
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />


		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/baseDocAll.js'></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
		<script type="text/javascript" src="../../assets/js/common/xlsx.full.min.js"></script>
	</head>
	<style>	
		form {
			display: inline-block;
			font-size: 14px;
		}
		select{
			outline: none;
			appearance:none;
			-moz-appearance:none;
			-webkit-appearance:none;
			width:220px;
			border:0;
			border-bottom:1px solid #B8C7CE
		}
		select:-ms-expand { display: none; }
	</style>
	<script>
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/whs/cannibSnglList.js?" + new Date().getTime() + "'></scr" + "ipt>");
	</script>
	<body>
		<div id="purchaseOrder">
			<div class="purchaseTit">
				<!--<h1 class="title">调拨单列表</h1>-->
				<div class="buttons">
				    <div class="dropdown" style="display: inline-block;">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    导入
						    <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li class="li1">
								<a href="#">U8导入</a>
							</li>
							<li class="li2">
								<a href="#">新系统导入</a>
							</li>
						</ul>
					</div>
					<button class="exportExcel">导出</button>
					<button class="delOrder">删除</button>
					<button class="toExamine">审核</button>
					<button class="noTo">弃审</button>
					<button class="search">查询</button>
					<button class="joint_search">整单联查</button>
					<span>
						<form id="uploadForm" enctype="multipart/form-data">
							<input type="file" name="FileUpload" id="FileUpload">
						</form>
					</span>
				</div>

			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="businessType col-md-4">
						<span>单据号</span><input type="text" class="formNum" name="formNum" value="" />
					</div>
					<div class="orderDates col-md-8">
						<span>单据号区间</span>
						<input type="text" class="formNumStart" name="formNumStart" value=""/>到<input type="text" class="formNumEnd" name="formNumEnd" value=""/>
					</div>
					<div class="businessType col-md-4">
						<span>转出仓库</span>
						<input type="text" id="tranOutWhsEncd" class="tranOut1 encds" name="tranOutWhsEncd" value="" />
						<input type="text" id="tranOutWhsNm" class="tranOutWhsNm names" name="tranOutWhsNm" value="" readonly="readonly" />
						<span><img class="tranOutWhsEncd1" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="businessType col-md-4">
						<span>转入仓库</span>
						<input type="text" id="tranInWhsEncd" class="tranOut2 encds" name="tranInWhsEncd" value="" />
						<input type="text" id="tranInWhsNm" class="tranInWhsNm names" name="tranInWhsNm" value="" readonly="readonly" />
						<span><img class="tranInWhsEncd1" id="tranInWhsNm" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="orderNumbers col-md-4">
						<span>存货编码</span>
						<input type="text" id="invtyEncd" class="encds" name="invtyEncd" value="" />
						<input type="text" id="invtyNm" class="names" name="invtyNm" value="" />
						<span><img class="biao_invtyEncd" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="orderNumbers col-md-4">
						<span>批次</span><input type="text" id="batNum" name="batNum" value="" />
						<span><img class="biao_batNum" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="businessType col-md-4">
						<span>存货分类编码</span>
						<input type="text" id="invtyCls" class="invtyCls encds" name="invtyClsEncd" value="" />
						<input type="text" id="invtyClsNm" class="invtyClsNm names" name="invtyClsNm" value="" readonly="readonly" />
						<span><img class="invtyClsEncd_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="department col-md-4" style="display: none;">
						<span>部门</span><input type="text" id="deptId" class="deptId encds" name="deptId" value="" />
						<input type="text" id="deptName" class="deptName names" name="deptName" value="" readonly="readonly" />
						<span><img class="biao_deptId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="salesman col-md-4">
						<span>创建人</span><input type="text" id="user" class="inputText encds" name="accNum" value=""/>
						<input type="text" id="userName" name="userName" class="inputText names" value="" readonly="readonly" />
						<span><img class="biao_userId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="supplierOrder col-md-4">
						<span>是否审核</span>
						<select name="isNtChk" id="isNtChk">
							<option value="" selected value></option>
							<option value="1">已审</option>
							<option value="0">未审</option>
						</select>
					</div>
					<div class="orderDates col-md-8">
						<span>单据日期</span>
						<input type="text" class="formDt1 date1" name="formDt1" value="" calendar="YYYY-MM-DD" />到<input type="text" class="formDt2 date2" name="formDt2" value="" calendar="YYYY-MM-DD" />
					</div>
					<div class="businessType col-md-4">
						<span>备注查询</span><input type="text" class="memo" name="memo" value="" />
					</div>
				</form>
			</div>
			<table id="jqGrids"></table>
			<div id="jqGridPager"></div>
		</div>
	</body>

</html>