<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>货位列表</title>
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrCls.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrDoc.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />


		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/whs/gBList.js"></script>

		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/baseDocAll.js'></script>
	</head>
	<style>
		.purchaseTit{
			margin:20px
		}
	</style>
	<body>
		<div id="purchaseOrder">
			<div class="purchaseTit">
				<div class="buttons">
					<button class="true_gb">确定</button>
					<button class="false_gb">取消</button>
					<button class="search_gb">查询</button>
				</div>
			</div>
			<div class="order-title">
				<form class="row" id="formSave" autocomplete="off">
					<div class="purchaseType col-md-4">
						<span>货位编码</span><input type="text" id="gdsBitEncd2" class="gdsBitEncd2" name="gdsBitEncd2" value=""/>
					</div>
					<div class="purchaseType col-md-4">
						<span>货位名称</span><input type="text" id="gdsBitNm2" class="gdsBitNm2" name="gdsBitNm2" value=""/>
					</div>
				</form>
			</div>
			<table id="jqGrids"></table>
			<div id="gds_jqGridPager"></div>
		</div>
	</body>

</html>
