<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>库存台账</title>
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />


		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/whs/invStandingBook.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
		<script type="text/javascript" src="../../assets/js/common/xlsx.full.min.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/baseDocAll.js'></script>
		<style type="text/css">
			.purchaseTit {
				margin-bottom: 30px;
			}
			
			#whs_jqgrids, .ui-jqgrid-hbox, .ui-jqgrid-ftable.ui-common-table {
				width: 100%!important;
			}
			body {
				overflow: scroll!important;
				overflow-x: hidden!important;
			}
		</style>
	</head>

	<body>
		<div id="purchaseOrder">
			<div class="purchaseTit">
				<div class="buttons">
					<button class="print">打印</button>
					<button id="find">查询</button>
					<button class="exportExcel">导出</button>
				</div>
			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="orderNumbers col-md-4 three">
						<span>存货编码</span>
						<input type="text" id="invtyEncd" name="invtyEncd" class="encds" value=""/>
						<input type="text" id="invtyNm" name="invtyNm" class="invtyNm names" value="" readonly="readonly" />
						<span><img class="invtyNm_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="businessType col-md-4">
						<span>存货分类编码</span>
						<input type="text" id="invtyCls" class="invtyCls encds" name="invtyCls" value="" />
						<input type="text" id="invtyClsNm" class="invtyClsNm names" name="invtyClsNm" value="" readonly="readonly" />
						<span><img class="invtyClsEncd_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
				</form>
			</div>
			<table id="book_jqGrids"></table>
			<div id="jqgridPager"></div>
		</div>
		<div id="whsDocList">
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="orderNumbers col-md-4">
						<span>单据日期<b>*</b></span>
						<input type="text" class="formDt1 date date1" name="formDt1" value="" calendar="YYYY-MM-DD" readonly="readonly"/>到<input type="text" class="formDt2 date date2" name="formDt2" value="" calendar="YYYY-MM-DD" readonly="readonly"/>
					</div>
					<div class="businessType col-md-4 three">
						<span>仓库编码</span>
						<input type="text" id="whsEncd" class="whsEncd encds" name="whsEncd" value="" />
						<input type="text" id="whsNm" class="whsNm names" name="whsNm" value="" readonly="readonly" />
						<span><img class="biao_whsEncd" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
				</form>

			</div>
			<table id="whs_jqgrids"></table>
			<div id="whs_jqGridPager"></div>
		</div>
	</body>

</html>