<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>订单审核</title>

		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrCls.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrDoc.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />

		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>

		<link type="text/css" rel="stylesheet" href="../../assets/css/allOrders.css" />
		<script type="text/javascript" src="../../assets/js/mis/ec/selectecGooId.js"></script>
		<script type="text/javascript" src="../../assets/js/common/xlsx.full.min.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
		<script type="text/javascript" src="../../assets/laydate/laydate.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/insertInvtyList.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/storeRecordListGood.js"></script>
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/baseDocAll.js'></script>
	</head>
	<style>
		form {
			display: inline-block;
			font-size: 14px;
		}
		select {
			outline: none;
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			width: 220px;
			border: 0;
			border-bottom: 1px solid #B8C7CE
		}
		
		select:-ms-expand {
			display: none;
		}
		
		.down {
			width: 790px;
			height: 400px;
			border: 1px solid #CCCCCC;
			background-color: #FFFFFF;
			position: absolute;
			top: 80px;
			left: 25%;
			z-index: 3;
			display: none;
		}
		
		.inp {
			margin-top: 50px;
		}
		
		.inpDate {
			margin-top: 185px;
			margin-left: 15px;
			width: 510px!important;
		}
		
		.down .order-title div {
			width: 420px;
		}
		
		.down .order-title {
			width: 105%!important;
		}
		
		.box {
			z-index: 1;
		}
		
		#mengban {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			height: 200%!important;
			opacity: 0.2;
			background-color: #000000;
		}
		
		body {
			height: 100%;
			overflow: auto!important;
		}
		
		#oneSerch_jqgrids {
			width: 100%!important;
		}
		#gbox_platList_jqgrids4, #gview_platList_jqgrids4, 
		#gbox_platList_jqgrids1, #gview_platList_jqgrids1, 
		#gbox_platList_jqgrids3, #gview_platList_jqgrids3, 
		#platList_jqgrids3, #platList_jqgrids4, 
		#platList_jqGridPager4, #platList_jqGridPager3,
		#split_jqgrids, #selectecGooId_jqgrids {
			width: 100%!important;
		}
		.order-title {
			width: 100%!important;
		}
		
		.tab-content {
			display: none;
		}
		.order-title div {
		    width: 33.3333333%;
		}
		
		.tab-content.active {
			display: block;
		}
		#tabContent2 .col-md-4 {
			width: 25%!important;
		}
		#tabContent2 .col-md-4 span {
			margin-right: 10px;
		}
		#gbox_split_jqgrids {
			margin-top: 10px;
		}
		
		.batch {
			width: 400px;
			height: 400px;
			border: 1px solid #CCCCCC;
			background-color: #FFFFFF;
			position: absolute;
			top: 80px;
			left: 37%;
			z-index: 3;
			/*display: none;*/
		}
		.batch .order-title1 {
			width: 100%;
		}
		.batch .order-title1 div {
			margin-left: 10px;
			
		}
		#tabContent2 span, #tabContent2 input, #tabContent2 option {
			font-size: 12px!important;
		}
		#mengban1 {
			height: 100%!important;
		}
		.adit {
			width: 700px;
			height: 400px;
			border: 1px solid #CCCCCC;
			background-color: #FFFFFF;
			position: absolute;
			top: 80px;
			left: 27%;
			z-index: 3;
			/*display: none;*/
		}
		.adit .order-title1 {
			width: 100%;
		}
		.adit .order-title1 div {
			margin-top: 50px;
			font-size: 12px!important;
		}
		.adit .order-title1 form {
			display: inline-block;
			width: 100%!important;
		}
		.adit .top {
			border-bottom: solid #CCCCCC 1px;
			height: 50%;
		}
		b {
			color: red;
		}
	</style>
<script>
	document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/ec/platOrderaudit.js?" + new Date().getTime() + "'></scr" + "ipt>");
</script>
	<body>
		<div class="box">
			<div class="purchaseTit">
				<!--<h1 class="title">全部订单</h1>-->
				<div class="buttons">
					<button class="importExcel">导入</button>
					<button class="search">查询</button>
					<button class="toExamine">审核</button>
					<!--<button class="noTo">弃审</button>-->
					<!--<button class="ancelSend">取消发送</button>-->
					<button class="delOrder">删除</button>
					<!--<button class="operation">一键逆向操作</button>-->
					<button class="up_d">订单关闭</button>
					<button class="download">下载</button>
					<button class="autoMatch">自动匹配</button>
					<button class="splitOrder">手动拆单</button>
					<button class="selectecGooId1">批量订单商品调整</button>
					<button class="upDate">批量修改</button>
					<button class="batchSelect">批量查询</button>
					<span>
						<form id="uploadForm" enctype="multipart/form-data">
							<input type="file" name="FileUpload" id="FileUpload">
						</form>
					</span>
				</div>
			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="info">
						<div class="supplier col-md-4">
							<span>订单编码</span>
							<input type="text" class="orderId" name="orderId1" value="" />
						</div>
						<div class="supplier col-md-4">
							<span>店铺编码</span>
							<input type="text" id="storeId1" class="storeId1 encds" name="storeId1" value="" />
							<input type="text" id="storeNm1" class="storeNm1 names" name="storeNm1" value="" readonly="readonly" />
							<span><img class="storeId_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="supplier col-md-4">
							<span>买家会员号</span>
							<input type="text" class="buyerId" name="buyerId" value="" />
						</div>
						<div class="supplier col-md-4">
							<span>起始日期</span>
							<input type="text" class="startDate date date1" name="startDate" value="" calendar="YYYY-MM-DD" readonly="readonly" />到<input type="text" class="endDate date date2" name="endDate" value="" calendar="YYYY-MM-DD" readonly="readonly" />
						</div>
						<div class="supplier col-md-4">
							<span>收货人姓名</span>
							<input type="text" class="recName" name="recName" value="" />
						</div>
						<div class="supplier col-md-4">
							<span>电商订单号</span>
							<input type="text" class="ecOrderId" name="ecOrderId" value="" />
						</div>
						<div class="businessType col-md-4">
							<span>发货仓库编码</span>
							<input type="text" id="whsEncd" class="whsEncd encds" name="deliverWhs" value="" />
							<input type="text" id="whsNm" class="whsNm names" name="whsNm" value="" readonly="readonly" />
							<span><img class="deliverWhs_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="businessType col-md-4">
							<span>快递公司编码</span>
							<input type="text" id="expressId" class="expressId encds" name="expressId" value="" />
							<input type="text" id="expressName" class="expressName names" name="expressName" value="" readonly="readonly" />
							<span><img class="expressCom_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="orderNumbers col-md-4">
							<span>存货编码</span>
							<input type="text" id="invtyEncd" class="encds" name="invtyEncd" value="" />
							<input type="text" id="invtyNm" class="names" name="invtyNm" value="" />
							<span><img class="biao_invtyEncd" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="supplier col-md-4">
							<span>是否发货</span>
							<select name="isShip" id="isShip">
								<option value="">请选择</option>
								<option value="1">是</option>
								<option value="0">否</option>
							</select>
						</div>
						<div class="supplier col-md-4">
							<span>备注查询</span>
							<input type="text" class="memo" name="memo" value="" />
						</div>
					</div>
				</form>
			</div>
			<table id="platAudit_jqgrids"></table>
			<div id="jqgridPager"></div>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active" data-id="tabContent1">
					<a href="javascript:;">表体信息</a>
				</li>
				<li role="presentation" data-id="tabContent2">
					<a href="javascript:;">基本信息</a>
				</li>
				<li role="presentation" data-id="tabContent3">
					<a href="javascript:;">促销信息</a>
				</li>
				<li role="presentation" data-id="tabContent4">
					<a href="javascript:;">操作日志</a>
				</li>
			</ul>
			<div class="tabs-contents">
				<!-- <div class="tabs-contents">
				<!-- 标题1内容区域 -->
				<div class="tab-content active" id="tabContent1">
					<!--<table class="table table-striped">-->
					<!--<tbody>-->
					<table id="platList_jqgrids1"></table>
					<div id="platList_jqGridPager1"></div>
					<!--</tbody>-->
					<!--</table>-->
				</div>

				<!-- 标题2内容区域 -->
				<div class="tab-content" id="tabContent2">
					<form class="row" id="formSave">
						<div class="info">
							<div class="supplier col-md-4">
								<span>订单编码</span>
								<input type="text" class="orderId" name="orderId2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>店铺编码</span>
								<input type="text" id="storeId2" class="storeId" name="storeId2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>店铺名称</span>
								<input type="text" class="storeName2" name="storeName2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>付款时间</span>
								<input type="text" class="payTime" name="payTime2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>旗标</span>
								<input type="text" class="waif" name="waif2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>是否客审</span>
								<!--<input type="text" class="isAudit2" name="isAudit2" value="" />-->
								<select name="isAudit2" id="isAudit" disabled="disabled">
									<option value=""></option>
									<option value="0">否</option>
									<option value="1">是</option>
								</select>
							</div>
							<div class="supplier col-md-4">
								<span>审核提示</span>
								<input type="text" class="auditHint" name="auditHint2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>商品数量</span>
								<input type="text" class="goodNum" name="goodNum2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>商品金额</span>
								<input type="text" class="goodMoney" name="goodMoney2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>实付金额</span>
								<input type="text" class="payMoney" name="payMoney2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>买家留言</span>
								<input type="text" class="buyerNote" name="buyerNote2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>卖家备注</span>
								<input type="text" class="sellerNote" name="sellerNote2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>收货人详细地址</span>
								<input type="text" class="recAddress" name="recAddress2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>买家会员号</span>
								<input type="text" class="buyerId" name="buyerId2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>收货人手机号</span>
								<input type="text" class="recMobile" name="recMobile2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>收货人姓名</span>
								<input type="text" class="recName" name="recName2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>电商订单号</span>
								<input type="text" class="ecOrderId" name="ecOrderId2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>是否开票</span>
								<!--<input type="text" class="isInvoice2" name="isInvoice2" value="" />-->
								<select name="isInvoice2" disabled="disabled">
									<option value=""></option>
									<option value="1">是</option>
									<option value="0">否</option>
								</select>
							</div>
							<div class="supplier col-md-4">
								<span>发票抬头</span>
								<input type="text" class="invoiceTitle" name="invoiceTitle2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>卖家备注旗帜</span>
								<input type="text" class="noteFlag" name="noteFlag2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>是否发货</span>
								<!--<input type="text" class="isShip2" name="isShip2" value="" />-->
								<select name="isShip2" id="isShip" disabled="disabled">
									<option value=""></option>
									<option value="1">是</option>
									<option value="0">否</option>
								</select>
							</div>
							<div class="supplier col-md-4">
								<span>卖家调整金额</span>
								<input type="text" class="adjustMoney" name="adjustMoney2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>系统优惠金额</span>
								<input type="text" class="discountMoney" name="discountMoney2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>调整状态</span>
								<input type="text" class="adjustStatus" name="adjustStatus2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>交易时间</span>
								<input type="text" class="tradeDt" name="tradeDt2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>业务类型编码</span>
								<input type="text" class="bizTypId" name="bizTypId2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>销售类型编码</span>
								<input type="text" class="sellTypId" name="sellTypId2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>收发类别编码</span>
								<input type="text" class="recvSendCateId" name="recvSendCateId2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>订单状态</span>
								<input type="text" class="orderStatus" name="orderStatus2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>退货状态</span>
								<input type="text" class="returnStatus" name="returnStatus2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>是否含赠品</span>
								<!--<input type="text" class="hasGift" name="hasGift2" value="" />-->
								<select name="hasGift2" id="hasGift2" disabled="disabled">
									<option value=""></option>
									<option value="1">是</option>
									<option value="0">否</option>
								</select>
							</div>
							<div class="supplier col-md-4">
								<span>备注</span>
								<input type="text" class="memo" name="memo2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>结算金额</span>
								<input type="text" class="orderSellerPrice" name="orderSellerPrice2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>收货地址省</span>
								<input type="text" class="province" name="province2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>收货地址市</span>
								<input type="text" class="city" name="city2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>收货地址区</span>
								<input type="text" class="county" name="county2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>收货地址镇</span>
								<input type="text" class="town" name="town2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>运费</span>
								<input type="text" class="freightPrice" name="freightPrice2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>发货仓库</span>
								<input type="text" class="deliverWhs" name="deliverWhs2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>送货（日期）类型</span>
								<input type="text" class="deliveryType" name="deliveryType2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>是否自发货</span>
								<!--<input type="text" class="deliverSelf" name="deliverSelf2" value="" />-->
								<select name="deliverSelf2" id="deliverSelf2" disabled="disabled">
									<option value=""></option>
									<option value="1">是</option>
									<option value="0">否</option>
								</select>
							</div>
							<div class="supplier col-md-4">
								<span>发货时间</span>
								<input type="text" class="shipTime" name="shipTime2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>关闭时间</span>
								<input type="text" class="closeTime" name="closeTime2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>审核时间</span>
								<input type="text" class="auditTime" name="auditTime2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>快递公司编码</span>
								<input type="text" class="expressCom" name="expressCom2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>快递单号</span>
								<input type="text" class="expressCode" name="expressCode2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>重量</span>
								<input type="text" class="weight" name="weight2" value="" readonly="readonly"/>
							</div>
							<div class="supplier col-md-4">
								<span>下载时间</span>
								<input type="text" class="downloadTime" name="downloadTime2" value="" readonly="readonly"/>
							</div>
						</div>
					</form>
				</div>
				<!-- 标题3内容区域 -->
				<div class="tab-content" id="tabContent3">
					<!--<table class="table table-striped">-->
					<!--<tbody>-->
					<table id="platList_jqgrids3"></table>
					<div id="platList_jqGridPager3"></div>
					<!--</tbody>-->
					<!--</table>-->
				</div>
				<!-- 标题4内容区域 -->
				<div class="tab-content" id="tabContent4">
					<!--<table class="table table-striped">-->
					<!--<tbody>-->
					<table id="platList_jqgrids4"></table>
					<div id="platList_jqGridPager4"></div>
					<!--</tbody>-->
					<!--</table>-->
				</div>
			</div>
		</div>

		<div id="mengban"></div>
		<div class="down" style="opacity: 0;">
			<div class="purchaseTit">
				<div class="buttons">
					<button class="true">确定</button>
					<button class="falses">取消</button>
				</div>
			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="supplier col-md-4 inp">
						<span>电商平台<b>*</b></span>
						<select class="ecId" name="ecId">
							</option>
						</select>
					</div>
					<div class="supplier col-md-4 inp">
						<span>订单号</span>
						<input type="text" class="orderId" name="orderId3" value="" />
					</div>
					<div class="supplier col-md-4 inp">
						<span>店铺编码</span>
						<input type="text" id="storeId" class="storeId3 encds" name="storeId3" value="" />
						<input type="text" id="storeName" class="storeName names" name="storeName" value="" readonly="readonly" />
						<span><img class="storeId1_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="supplier col-md-24 inpDate inline">
						<span>交易时间起 </span>
						<input placeholder="请输入日期" class="inline date f_date" name="startDate1" id="start" style="width:200px; margin-right:10px;">到<input placeholder="请输入日期" class="inline date l_date" name="endDate1" id="end" style="width:200px;">
					</div>

				</form>
			</div>
		</div>

		<div class="oneSerch_List" style="opacity: 0;">
			<div class="purchaseTit">
				<!--<h1 class="title">全部订单</h1>-->
				<div class="buttons">
					<button class="oneSerch">一键联查</button>
					<button class="save">取消</button>
				</div>
			</div>
			<table id="oneSerch_jqgrids"></table>
			<div id="oneSerch_jqgridPager"></div>
		</div>

		<div class="formSave_box" style="opacity: 0;">
			<div class="purchaseTit">
				<!--<h1 class="title">店铺档案</h1>-->
				<div class="buttons">
					<button class="sure">确定</button>
					<button class="false">取消</button>
					<button class="findList">查询</button>
				</div>
			</div>

			<div class="order-title">
				<form class="row" id="formSave">
					<div class="info">
						<div class="supplier col-md-4">
							<span>店铺编码</span>
							<input type="text" class="storeId2" name="storeId2" value="" />
						</div>
						<div class="supplier col-md-4">
							<span>店铺名称 </span>
							<input type="text" class="storeName2" name="storeName2" value="" />
						</div>
						<div class="supplier col-md-4">
							<span>电商平台<b>*</b></span>
							<select class="ecId" name="ecId1">
								</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<table id="List_jqgrids"></table>
			<div id="List_jqGridPager"></div>
		</div>
		<!--手动拆单-->
		<div class="hand_split" style="opacity: 0;">
			<div class="purchaseTit">
				<div class="buttons">
					<button class="sures">保存</button>
					<button class="over">返回</button>
				</div>
			</div>
			<table id="split_jqgrids"></table>
			<div id="split_jqGridPager"></div>
		</div>
		<!--批量修改商品-->
		<div class="selectecGooId" style="opacity: 0;">
			<div class="purchaseTit">
				<div class="buttons">
					<button class="sures_s">保存</button>
					<button class="over_s">取消</button>
				</div>
			</div>
			<table id="selectecGooId_jqgrids"></table>
			<div id="selectecGooId_jqGridPager"></div>
		</div>
		<div class="batch" style="opacity: 0;">
			<div class="purchaseTit btn">
				<!--<h1 class="title">全部订单</h1>-->
				<div class="buttons">
					<button class="queding">确定</button>
					<button class="quxiao">取消</button>
				</div>
			</div>
			<div class="order-title1">
				<form class="row" id="formSave">
					<div class="supplier col-md-24">
						<textarea type="tel" name="ecOrderIds" rows="15" cols="50" wrap="physical" placeholder="请输入电商订单号(以英文逗号分隔或回车换行)"></textarea>
					</div>
				</form>
			</div>
		</div>
		<div class="adit" style="opacity: 0;">
			<div class="top">
				<div class="purchaseTit btn">
					<div class="buttons">
						<button class="queding2">确定</button>
						<button class="quxiao2">取消</button>
					</div>
				</div>
				<div class="order-title1">
					<form class="row" id="formSave">
						<div class="supplier col-md-6">
							<span>修改项</span>
							<input type="text" class="" name="" value="发货仓库" readonly="readonly"/>
						</div>
						<div class="businessType col-md-4">
							<span>仓库<b>*</b></span>
							<input type="text" id="tranOutWhsEncd" class="whsEncd encds" name="whsEncd1" value="" />
							<input type="text" id="tranOutWhsNm" class="whsNm names" name="whsNm1" value="" readonly="readonly" />
							<span><img class="whsEncd1_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<!--<div class="supplier col-md-6">
							<span>仓库<b>*</b></span>
							<select class="whsEncd" name="whsEncd1">
								</option>
							</select>
						</div>-->
					</form>
				</div>
			</div>
			<div class="botton">
				<div class="purchaseTit btn">
					<div class="buttons">
						<button class="queding1">确定</button>
						<button class="quxiao1">取消</button>
					</div>
				</div>
				<div class="order-title1">
					<form class="row" id="formSave">
						<div class="supplier col-md-6">
							<span>修改项</span>
							<input type="text" class="" name="" value="快递公司" readonly="readonly"/>
						</div>
						<div class="supplier col-md-6">
							<span>快递公司<b>*</b></span>
							<select class="expressEncd" name="expressEncd2">
								</option>
							</select>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--存货档案-->
		<div id="insertList" style="opacity: 0;">
			<div class="purchaseOrder">
				<div class="purchaseTit">
					<div class="buttons">
						<button class="find">查询</button>
						<button class="addWhs">确定</button>
						<button class="cancel">取消</button>
					</div>
				</div>

				<div class="purchaseTit">
					<h1 class="title">存货档案列表</h1>
				</div>
				<div class="order-title">
					<form class="row" id="formSave">
						<div class="info">
							<div class="supplier col-md-3">
								<span>存货编码</span>
								<input type="text" class="invtyEncd1" name="invtyEncd1" value="" />
							</div>
							<div class="supplier col-md-3">
								<span>存货名称</span>
								<input type="text" class="invtyNm1" name="invtyNm1" value="" />
							</div>
							<div class="supplier col-md-3">
								<span>存货分类编码</span>
								<input type="text" class="invtyClsEncd1" name="invtyClsEncd1" value="" />
							</div>
							<div class="supplier col-md-3">
								<span>存货分类名称</span>
								<input type="text" class="invtyClsNm1" name="invtyClsNm1" value="" />
							</div>
						</div>
					</form>
				</div>

				<aside>
					<!--左列树-->
					<div id="tree" style="height:400px"></div>
				</aside>

				<div id="wrap">
					<table id="insert_jqgrids"></table>
					<div id="insert_jqGridPager"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		var start = {
			elem: '#start',
			format: 'YYYY-MM-DD hh:mm:ss',
			min: laydate.now(-90), //设定最小日期为当前日期
			max: '2099-06-16', //最大日期
			istime: true,
			istoday: false,
			choose: function(datas) {
				end.min = datas; //开始日选好后，重置结束日的最小日期
				end.start = datas //将结束日的初始值设定为开始日
			}
		};
		var end = {
			elem: '#end',
			format: 'YYYY-MM-DD hh:mm:ss',
			min: laydate.now(),
			max: '2099-06-16',
			istime: true,
			istoday: false,
			choose: function(datas) {
				start.max = datas; //结束日选好后，充值开始日的最大日期
			}
		};
		laydate(start);
		laydate(end);

		$('.nav-tabs li').click(function() {　　
			$(this).addClass('active').siblings().removeClass('active');　　
			var _id = $(this).attr('data-id');　　
			$('.tabs-contents').find('#' + _id).addClass('active').siblings().removeClass('active');
		});
		
		
	</script>
</html>