<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->

		<meta http-equiv="Access-Control-Allow-Origin" content="*" />
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<title>仓库模板关联</title>
		<script type="text/javascript" src="../../assets/js/common/jquery-1.7.1.js"></script>
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrCls.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrDoc.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/ec/Print_guanLian.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/whsDocList.js"></script>
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/ec/Print_muBanList.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/baseDocAll.js'></script>
		<style>
			
			#mengban {
				z-index: 2;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%!important;
				opacity: 0.2;
				background-color: #000000;
			}
			select {
				outline: none;
				appearance: none;
				-moz-appearance: none;
				-webkit-appearance: none;
				width: 220px;
				border: 0;
				border-bottom: 1px solid #B8C7CE
			}
			
			select:-ms-expand {
				display: none;
			}
			#print_guanLian_jqgrids,#print_muBanList_jqgrids {
				width: 100%!important;
			}
		</style>
	</head>

	<body>
		<!--商品档案-->
		<div id="purchaseOrder">
			<div class="purchaseTit">
				<div class="buttons">
					<button class="addOrder">增行</button>
					<!--<button class="updite">修改</button>-->
					<button class="saveOrder">保存</button>
					<button class="break">刷新</button>
					<button class="clear">清空</button>
					<button class="del">删除</button>
					<!--<button class="back">返回</button>-->
					<button class="search">查询</button>
				</div>
			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="info">
						<div class="supplier col-md-4">
							<span>模板</span>
							<input type="text" id="templateId" name="templateId1" value=""/>
							<span><img class="templateId_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>

						</div>
						<div class="supplier col-md-4">
							<span>仓库编码 </span>
							<input type="text" id="whsEncd" name="warehouseId1" value="" />
							<span><img class="storeId1_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="supplier col-md-4">
							<span>仓库名称 </span>
							<input type="text" id="whsNm" name="saleEncd1"  readonly="readonly" value="" />
						</div>
						<div class="supplier col-md-4">
							<span>平台名称</span>
							<select class="ecOrderId" name="platformId1">
								</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			
			<table id="print_guanLian_jqgrids"></table>
			<div id="print_guanLian_jqGridPager"></div>
		</div>
		<!--仓库档案-->
		<div id="whsDocList" style="opacity: 0;">
			<div class="purchaseOrder">
				<div class="purchaseTit">
					<div class="buttons">
						<div class="addWhs">确定</div>
						<div class="cancel">取消</div>
						<div class="whs_find">查询</div>
					</div>
				</div>

				<div class="purchaseTit">
					<h1 class="title">仓库档案</h1>
				</div>

				<table id="whs_jqgrids"></table>
				<div id="whs_jqGridPager"></div>
			</div>
		</div>
		
		<div id="muban" style="opacity: 0;">
			<div class="purchaseTit">
				<div class="buttons">
					<button class="yes">确定</button>
					<button class="no">取消</button>
					<button id="inquiry">查询</button>
				</div>
			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="info">
						<div class="supplier col-md-4">
							<span>模板编码</span>
							<!--<input type="text" id="storeName" style="display: none;"/>-->
							<input type="text" id="templateId" name="templateId2" value=""/>
							<!--<span><img class="storeId_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>-->

						</div>
						<div class="supplier col-md-4">
							<span>模板名称 </span>
							<input type="text" id="templateName" name="templateName2" value="" />
							<!--<span><img class="storeId1_biaoge" src="../../assets/img/biaoge.png" alt="" /></span>-->
						</div>
						<div class="supplier col-md-4">
							<span>操作员 </span>
							<input type="text" id="opid" name="opid2" value="" />
						</div>
						<!--<div class="supplier col-md-4">
							<span>操作员姓名 </span>
							<input type="text" id="opname" name="opname"  readonly="readonly" value="" />
						</div>
						<div class="supplier col-md-4">
							<span>备注 </span>
							<input type="text" id="reamrk" name="reamrk"  readonly="readonly" value="" />
						</div>-->
					</div>
				</form>
			</div>
			
			<table id="print_muBanList_jqgrids"></table>
			<div id="print_muBanList_jqGridPager"></div>
		</div>
	</body>

</html>