<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>促销方案列表</title>
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />
		

		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/ec/proPlanList.js"></script>
		
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/baseDocAll.js'></script>
	</head>
	<style>
		.calendar{
			z-index:999;
		}
		#jqGrids{
			width:100%!important
		}
		
		img{
			cursor:pointer;
			height:15px;
		}
		td input{
			width:auto!important
		}
		#jqGrids{
			width:99.8%!important
		}
		.row>div{
			display: inline-block;
			width: 33%;
		}
	</style>
	<body>

		<div class="purchaseOrder">
			<div class="purchaseTit jz">
				<!--<h1 class="title">促销方案列表</h1>-->
				<div class="buttons">
					<button class="delOrder">删除</button>
					<!--<button class="toExamine">审核</button>
					<button class="noTo">弃审</button>-->
					<button class="search">查询</button>
				</div>
			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="businessType col-md-4">
						<span>促销方案编码</span><input type="text" class="proPlanId" name="proPlanId" value="" />
					</div>
					<div class="orderNumbers col-md-4">
						<span>促销方案名称 </span><input type="text" class="proPlanName" name="proPlanName" value="" />
					</div>
					<!--<div class="purchaseType col-md-4">
						<span>供应商编码</span><input type="text" class="provrId" name="provrId" value="" />
					</div>
					<div class="orderDates col-md-8">
						<span>订单日期 <b>*</b></span>
						<input type="text" class="pursOrdrDt1" name="pursOrdrDt1" value="" calendar="YYYY-MM-DD"/>到<input type="text" class="pursOrdrDt2" name="pursOrdrDt2" value="" calendar="YYYY-MM-DD"/>
					</div>-->
				</form>
			</div>
			<table id="jqGrids"></table>
			<div id="jqGridPager"></div>
		</div>
	</body>

</html>