<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->

		<meta http-equiv="Access-Control-Allow-Origin" content="*" />
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<title>促销方案</title>
		<script type="text/javascript" src="../../assets/js/common/jquery-1.7.1.js"></script>
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrCls.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrDoc.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/ec/presentList.js"></script>
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/baseDocAll.js'></script>
		<style>
			/*#user, .proWay {
				outline: none;
				appearance: none;
				-moz-appearance: none;
				-webkit-appearance: none;
				width: 220px;
				border: 0;
				border-bottom: 1px solid #B8C7CE
			}*/
			select{
				outline: none;
				appearance:none;
				-moz-appearance:none;
				-webkit-appearance:none;
				width:220px;
				border:0;
				border-bottom:1px solid #B8C7CE
			}
			select:-ms-expand {
				display: none;
			}
			#present_list_jqgrids {
				width: 100%!important;
			}
			#mengban {
				height: 92%!important;
				bottom: 0;
				/*background-color: red;*/
			}
		</style>
	</head>

	<script>
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/ec/proPlan.js?" + new Date().getTime() + "'></scr" + "ipt>");
	</script>
	<body>
		<div id="mengban"></div>
		<div id="purchaseOrder">
			<div class="purchaseTit">
				<div class="buttons">
					<button class="addOLine">增加</button>
					<button class="dels">删除</button>
					<button class="editOrder">修改</button>
					<button class="saveOrder">保存</button>
				</div>
					
			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="purchaseType col-md-4">
						<span>促销方案编码<b>*</b> 
						</span><input type="text" class="proPlanId inp" name="proPlanId" value=""/>
					</div>
					<div class="orderNumbers col-md-4">
						<span>促销方案名称<b>*</b>
						</span><input type="text" class="proPlanName inp" name="proPlanName" value=""/>
					</div>
					<div class="orderNumbers col-md-4">
						<span>促销方式<b>*</b></span>
						<select class="proWay" name="proWay" disabled="disabled">
							<option selected value="0">赠品</option>
						</select>
					</div>
					<div class="orderNumbers col-md-4">
						<span>促销条件<b>*</b></span>
						<select class="proCriteria" name="proCriteria">
							</option>
						</select>
					</div>
					<div class="salesman col-md-4">
						<span>赠品倍增 <b>*</b></span>
						<select id="giftMul" class="giftMul" name="giftMul">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</div>
					<div class="supplier col-md-4">
						<span>表头备注</span><input type="text" id="supplier" class="memo inp" name="memo" value=""/>
					</div>
					<!--<div id="fuze" style="display: none;"></div>
					<div id="departmentEncd" style="display: none;"></div>-->

				</form>

			</div>
			<table id="pro_jqGrids"></table>
			<div id="pro_jqgridPager"></div>
		</div>
		
		<div id="wwrap" style="opacity: 0;">
			<div class="purchaseTit zz">
				<div class="buttons">
					<button class="sure">确定</button>
					<button class="cannle">取消</button>
					<button class="search">查询</button>
				</div>
			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="businessType col-md-4">
						<span>赠品范围编码</span><input type="text" class="presentRangeEncd" name="presentRangeEncd" value="" />
					</div>
					<div class="orderNumbers col-md-4">
						<span>赠品范围名称 <b>*</b></span><input type="text" class="presentRangeName" name="presentRangeName" value="" />
					</div>
				</form>
			</div>
			<table id="present_list_jqgrids"></table>
			<div id="present_list_jqGridPager"></div>
		</div>
	</body>
	
</html>