<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<title>采购入库单</title>
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrCls.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrDoc.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/baseDoc/calendar.min.css" />

		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>

		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
		<script type="text/javascript" src="../../assets/js/common/qrcode.min.js"></script>
	</head>
	<style>
		#purs_list #gbox_deteil_list div {
			width: 100%!important;
		}
		
		.order-title {
			width: 100%!important;
		}
		
		#purs_list .purchaseTit {
			margin-top: 10px!important;
		}
		
		#purs_list .order-title {
			margin-bottom: 5px!important;
		}
		/*#gbox_jqGrids_list,
		#gbox_deteil_list {
			margin-top: 10px;
		}*/
		
		#gbox_jqGrids_list .ui-jqgrid-labels,
		#gbox_deteil_list .ui-jqgrid-labels {
			height: 28px!important;
		}
		
		#qrcode {
			/*background-color: red;*/
			display: inline-block;
			position: absolute;
			top: 35px;
			right: 50px;
		}
		
		#qrcode img {
			height: 75%!important;
		}
		
		body {
			overflow-x: hidden!important;
		}
		#insertProjCls_jqgrids {
			width: 100%!important;
		}
	</style>

	<body>
		<div id="purchaseOrder">
			<div class="purchaseTit">
				<!--<h1 class="title">采购入库单</h1>-->
				<div class="buttons">
					<!--<button class="importExcel">导入</button>
					<button class="exportExcel">导出</button>-->
					<button class="print1">打印</button>
					<button class="refer">参照</button>
					<button class="editOrder">修改</button>
					<button class="saveOrder">保存</button>
					<button class="delOrder">删除</button>
					<button class="upOrder">放弃</button>
					<button class="toExamine">审核</button>
					<button class="noTo">弃审</button>
					<!--<button class="search">整单联查</button>-->
					<button class="gdsBitAllotted">分配货位</button>
				</div>
			</div>
			<div id="mengban"></div>
			<div class="order-title">
				<form class="row" id="formSave" autocomplete="off">
					<div class="purchaseType col-md-4">
						<span>采购类型</span><input type="text" class="inputText" name="purType" value="" readonly="readonly" />
					</div>
					<div class="orderDates col-md-4">
						<span>入库日期</span><input type="text" class="inputText" name="intoWhsDt" value="" readonly="readonly" />
					</div>
					<div class="orderNumbers col-md-4">
						<span>入库单号</span><input type="text" class="inputText" name="formNum" value="" readonly="readonly" />
					</div>
					<div class="orderNumbers col-md-4">
						<span>采购单号</span><input type="text" class="inputText" name="pursOrdrId" value="" readonly="readonly" />
					</div>
					<div class="orderNumbers col-md-4">
						<span>到货单号</span><input type="text" class="inputText" name="toGdsSnglId" value="" readonly="readonly" />
					</div>
					<div class="salesman col-md-4">
						<span>业务员 <b>*</b></span><input type="text" id="user" class="inputText encds" name="accNum" value="" />
						<input type="text" id="userName" name="userName" class="inputText names" value="" readonly="readonly" />
						<span><img class="biao_userId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="supplier col-md-4">
						<span>供应商编码<b>*</b></span><input type="text" id="provrId" class="provrId encds" name="provrId" value="" />
						<input type="text" id="provrNm" class="provrNm names" name="provrNm" value="" readonly="readonly" />
						<span><img class="biao_provrId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="department col-md-4">
						<span>部门</span><input type="text" id="deptId" class="deptId encds" name="deptId" value="" />
						<input type="text" id="deptName" class="deptName names" name="deptName" value="" readonly="readonly" />
						<span><img class="biao_deptId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="supplierOrder col-md-4">
						<span>供应商订单号</span><input type="text" class="inputText" name="provrOrdrNum" value="" />
						<input type="text" id='insertId' style="display:none" value="" />
					</div>
					<div class="supplier col-md-4">
						<span>收发类别<b>*</b></span>
						<input type="text" id="recvSendCateId" class="inputText encds"/>
						<input type="text" id="recvSendCateNm" class="inputText names" name="recvSendCateId1" value="" readonly="readonly" />
						<span><img class="biao_recv" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="supplierOrder col-md-4">
						<span>审核日期</span><input type="text" class="inputText" name="chkTm" value="" readonly="readonly" />
					</div>
					<div class="remarks col-md-4">
						<span>表头备注</span><input type="text" class="inputText" name="memo" value="" />
					</div>

					<div id="fuze" style="display: none;"></div>
				</form>
				<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
			</div>
			<div id="findGrid">
				<table id="find_jqgrids"></table>
			</div>
			<table id="jqgrids"></table>
			<div id="jqgridPager"></div>
		</div>
		<!--档案仓库-->
		<div id="whsDocList" style="opacity: 0;">
			<div class="purchaseOrder">
				<div class="purchaseTit">
					<div class="buttons">
						<div class="addWhs">确定</div>
						<div class="cancel">取消</div>
						<div class="whs_find">查询</div>
					</div>
				</div>

				<div class="purchaseTit">
					<h1 class="title">仓库档案</h1>
				</div>
				<hr/>

				<table id="whs_jqgrids"></table>
				<div id="whs_jqGridPager"></div>
			</div>
		</div>
		<div id="insertList" style="opacity: 0;">
			<div class="purchaseOrder">
				<div class="purchaseTit">
					<div class="buttons">
						<button class="addWhs">确定</button>
						<button class="cancel">取消</button>
						<button class="find">查询</button>
					</div>
				</div>

				<div class="purchaseTit">
					<h1 class="title">存货档案列表</h1>
				</div>
				<div class="order-title">
					<form class="row" id="formSave" autocomplete="off">
						<div class="info">
							<div class="supplier col-md-3">
								<span>存货编码</span>
								<input type="text" class="invtyEncd1" name="invtyEncd1" value="" />
							</div>
							<div class="supplier col-md-3">
								<span>存货名称</span>
								<input type="text" class="invtyNm1" name="invtyNm1" value="" />
							</div>
							<div class="supplier col-md-3">
								<span>存货分类编码</span>
								<input type="text" class="invtyClsEncd1" name="invtyClsEncd1" value="" />
							</div>
							<div class="supplier col-md-3">
								<span>存货分类名称</span>
								<input type="text" class="invtyClsNm1" name="invtyClsNm1" value="" />
							</div>
						</div>
					</form>
				</div>

				<aside>
					<!--左列树-->
					<div id="tree"></div>
				</aside>

				<div id="wrap">
					<table id="insert_jqgrids"></table>
					<div id="insert_jqGridPager"></div>
				</div>
			</div>
		</div>

		<div id="purs_list" style="opacity: 0;">
			<div class="purchaseOrder">
				<div class="purchaseTit">
					<div class="buttons">
						<button class="sure">确定</button>
						<button class="cancel refer_cancel">取消</button>
						<button class="searcher">查询</button>
					</div>
				</div>
				<div class="order-title">
					<form class="row" id="formSave" autocomplete="off">
						<div class="orderNumbers col-md-4">
							<span>存货编码</span><input type="text" id="invtyEncd" class="invtyEncd encds" name="invtyEncd" value="" />
							<input type="text" id="invtyNm" class="invtyNm names" name="invtyNm" value="" readonly="readonly" />
							<span><img class="biao_invtyEncd" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="purchaseType col-md-4">
							<span>仓库编码</span><input type="text" id="whsEncd" class="whsEncd encds" name="whsEncd" value="" />
							<input type="text" id="whsNm" class="whsNm names" name="whsNm" value="" readonly="readonly" />
							<span><img class="biao_whsEncd" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="orderNumbers col-md-4">
							<span>订单编码</span><input type="text" class="toGdsSnglId1" name="toGdsSnglId1" value="" />
						</div>
						<div class="purchaseType col-md-4">
							<span>供应商编码</span><input type="text" id="provrId1" class="provrId1 encds" name="provrId" value="" />
							<input type="text" id="provrNm1" class="provrNm1 names" name="provrNm" value="" readonly="readonly" />
							<span><img class="biao_provrId" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="salesman col-md-4">
							<span>业务员 <b>*</b></span><input type="text" class="inputText encds" name="accNum1" value=""/>
							<input type="text" class="inputText names" name="userName1" value="" readonly="readonly" />
							<span><img class="biao_userId" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="orderDates col-md-8">
							<span>订单日期</span>
							<input type="text" class="toGdsSnglDt1 date1" name="toGdsSnglDt1" value="" readonly="readonly" calendar="YYYY-MM-DD" />到<input type="text" class="toGdsSnglDt2 date2" readonly="readonly" name="toGdsSnglDt2" value="" calendar="YYYY-MM-DD" />
						</div>
					</form>
				</div>
				<table id="jqGrids_list"></table>
				<!--到货单列表jqgrid列表-->
				<div id="jqGridPager_list"></div>
				<!--表格下部-->
				<table id="deteil_list"></table>
				<div id="deteilPager_list"></div>
			</div>
		</div>
		<!--项目编码-->
		<div id="ProjClsList">
			<div id="purchaseOrder">
				<div class="purchaseTit">
					<div class="buttons">
						<button class="pro_sure">确定</button>
						<button class="pro_cancel">取消</button>
						<button class="search_pro">查询</button>
					</div>
				</div>
				<div class="order-title">
					<form class="row" id="formSave">
						<div class="info">
							<div class="supplier col-md-4">
								<span>项目编码</span>
								<input type="text" id="projEncd1" name="projEncd1" value="" />
							</div>
							<div class="supplier col-md-4">
								<span>项目名称 </span>
								<input type="text" id="projNm1" name="projNm1" value="" />
							</div>
						</div>
					</form>
				</div>

				<table id="insertProjCls_jqgrids"></table>
				<div id="insertProjCls_jqGridPager"></div>
			</div>
		</div>

		<div id="box" style="display: block;top:100%">
			<div class="purchaseOrder">
				<div class="purchaseTit">
					<h1 class="title">分配货位</h1>
				</div>
				<div class="purchaseTit" style="margin:20px">
					<div class="buttons">
						<button class="gds_delete">删除</button>
						<button class="gds_sure">确定</button>
						<button class="gds_cancel">取消</button>
					</div>
				</div>
				<div class="order-title" style="width:auto">
					<form class="row" id="formSave">
						<div class="info">
							<div class="supplier col-md-3" style='display: none;'>
								<span>编码</span>
								<input type="text" class="gds_id" value="" />
							</div>
							<div class="supplier col-md-3">
								<span>单据号</span>
								<input type="text" class="gds_orderNum" value="" readonly="readonly" />
							</div>
							<div class="supplier col-md-3">
								<span>存货编码</span>
								<input type="text" class="gsd_invtyEncd" value="" readonly="readonly" />
							</div>
							<div class="supplier col-md-3">
								<span>仓库编码</span>
								<input type="text" class="gsd_whsEncd" value="" readonly="readonly" />
							</div>
							<div class="supplier col-md-3">
								<span>批次</span>
								<input type="text" class="gsd_batNum" value="" readonly="readonly" />
							</div>
							<div class="supplier col-md-3" style="display: none;">
								<span>生产日期</span>
								<input type="text" class="gsd_prdcDt" value="" readonly="readonly" />
							</div>
							<div class="supplier col-md-3">
								<span>序号</span>
								<input type="text" class="serialNum" value="" readonly="readonly" />
							</div>
						</div>
					</form>
				</div>
				<table id="gds_jqgrids"></table>
			</div>
		</div>
		<input id="regnEncd" type="text" style="display: none;" />
		<input id="gdsBitEncd" type="text" style="display: none;" />

	</body>

	<script>
		// 二维码大小
		var qrcode = new QRCode(document.getElementById("qrcode"), {
			width: 100,
			height: 100
		});
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/purs/intoWhs.js?" + new Date().getTime() + "'></scr" + "ipt>");
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/whs/gdsBitAllotted.js?" + new Date().getTime() + "'></scr" + "ipt>");
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/purs/toGds.js?" + new Date().getTime() + "'></scr" + "ipt>");
		
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/common/drag.js?" + new Date().getTime() + "'></scr" + "ipt>");
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/baseDoc/whsDocList.js?" + new Date().getTime() + "'></scr" + "ipt>");
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/baseDoc/insertInvtyList.js?" + new Date().getTime() + "'></scr" + "ipt>");
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/baseDoc/ProjClsList.js?" + new Date().getTime() + "'></scr" + "ipt>");
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/system/baseDocAll.js?" + new Date().getTime() + "'></scr" + "ipt>");
	</script>
</html>