<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<title>付款申请单列表</title>
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />

		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src="../../assets/js/common/xlsx.full.min.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
	</head>
	
	<script>
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/purs/payRequestList.js?" + new Date().getTime() + "'></scr" + "ipt>");
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/system/baseDocAll.js?" + new Date().getTime() + "'></scr" + "ipt>");
	</script>
	<style>
		#_input {
			padding: 0px!important;
			width: 41px!important;
			height: 20px;
		}
		
		form {
			display: inline-block;
			font-size: 14px;
		}
		
		.order-title {
			/*background-color: red;*/
			width: 1100px;
		}
		
		#formSave select {
			outline: none;
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			width: 220px;
			border: 0;
			border-bottom: 1px solid #B8C7CE
		}
		
		#formSave select:-ms-expand {
			display: none;
		}
	</style>

	<body>
		<div class="purchaseOrder">
			<div class="purchaseTit">
				<div class="buttons">
					<button class="push">推送</button>
					<button class="exportExcel">导出</button>
					<button class="importExcel">导入</button>
					<button class="delOrder">删除</button>
					<button class="toExamine">审核</button>
					<button class="noTo">弃审</button>
					<button class="search">查询</button>
					<span>
						<form id="uploadForm" enctype="multipart/form-data">
							<input type="file" name="FileUpload" id="FileUpload">
						</form>
					</span>
				</div>
			</div>
			<div class="order-title">
				<form class="row" id="formSave">
					<div class="orderNumbers col-md-4">
						<span>订单编码 </span><input type="text" class="payApplId" name="payApplId" value="" />
					</div>
					<div class="supplier col-md-4">
						<span>供应商编码</span><input type="text" id="provrId" class="provrId1 encds" name="provrId" value="" />
						<input type="text" id="provrNm" class="provrNm names" name="provrNm" value="" readonly="readonly" />
						<span><img id="supplier1" class="biao_provrId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="department col-md-4">
						<span>部门</span><input type="text" id="deptId" class="deptId encds" name="deptId" value="" />
						<input type="text" id="deptName" class="deptName names" name="deptName" value="" readonly="readonly" />
						<span><img class="biao_deptId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="salesman col-md-4">
						<span>业务员</span><input type="text" id="user" class="inputText encds" name="accNum" value=""/>
						<input type="text" id="userName" class="inputText names" value="" readonly="readonly" />
						<span><img class="biao_userId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="supplierOrder col-md-4">
						<span>供应商订单号</span><input type="text" class="supplierNumber" name="supplierNumber" value="" />
					</div>
					<div class="orderDates col-md-12">
						<span>订单日期</span>
						<input type="text" class="payApplDt1 date date1" name="payApplDt1" value="" readonly="readonly" calendar="YYYY-MM-DD" />到<input type="text" class="payApplDt2 date date2" name="payApplDt2" value="" readonly="readonly" calendar="YYYY-MM-DD" />
					</div>
					<div class="supplierOrder col-md-4">
						<span>是否审核</span>
						<select name="isNtChk" id="isNtChk" class="isNtChk">
							<option value="" selected value></option>
							<option value="1">已审</option>
							<option value="0">未审</option>
						</select>
					</div>
					<div class="supplierOrder col-md-4">
						<span>备注</span><input type="text" id="memo" class="memo" name="memo" value="" />
					</div>
				</form>
				<div id="provrId1" style="display: none;"></div>
				<div id="provrNm1" style="display: none;"></div>
				<div id="fuze" style="display: none;"></div>
				<div id="departmentEncd" class="departmentEncd" style="display: none;"></div>
			</div>
			<table id="jqGrids"></table>
			<div id="jqGridPager"></div>
		</div>
	</body>

</html>