<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>采购订单</title>
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrCls.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrDoc.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />

		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src="../../assets/js/common/paste.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/myCommon.js'></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
	</head>
	<script>
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/purs/purchaseOrder.js?" + new Date().getTime() + "'></scr" + "ipt>");
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/baseDoc/insertInvtyList.js?" + new Date().getTime() + "'></scr" + "ipt>");
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/system/baseDocAll.js?" + new Date().getTime() + "'></scr" + "ipt>");
	</script>
	<body>
		<div id="purchaseOrder">
			<div class="purchaseTit">
				<!--<h1 class="title">采购订单</h1>-->
				<div class="buttons">
					<button class="print">打印</button>
					<!--<button class="importExcel">导入</button>
					<button class="exportExcel">导出</button>-->
					<button class="addOrder">增加</button>
					<button class="editOrder">修改</button>
					<button class="saveOrder">保存</button>
					<button class="delOrder">删除</button>
					<button class="upOrder">放弃</button>
					<button class="toExamine">审核</button>
					<button class="noTo">弃审</button>
					<button class="ctrlc_v">启用粘贴功能</button>
					<button class="ctrlYes">确定粘贴内容</button>
					<!--<button class="search">整单联查</button>-->
				</div>
				<!--<div id="mengban"></div>-->

			</div>
			<div class="order-title">
				<form class="row" id="formSave" autocomplete="off">
					<div class="purchaseType col-md-4">
						<span>采购类型</span><input type="text" class="inputText" name="purType" value="" readonly="readonly" />
					</div>
					<div class="orderDates col-md-4">
						<span>订单日期 <b>*</b></span><input type="text" class="inputText" name="orderDate" value="" readonly="readonly"/>
					</div>
					<div class="orderNumbers col-md-4">
						<span>订单编码 <b>*</b></span><input type="text" class="orderNumber" name="orderNumber" value="" readonly="readonly" />
					</div>
					<div class="salesman col-md-4">
						<span>业务员 <b>*</b></span><input type="text" id="user" class="inputText encds" name="accNum" value="" />
						<input type="text" id="userName" class="inputText names" value="" readonly="readonly" />
						<span><img class="biao_userId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="supplier col-md-4">
						<span>供应商编码<b>*</b></span><input type="text" id="provrId" class="provrId encds inputText" name="provrId" value="" />
						<input type="text" id="provrNm" class="provrNm names inputText" name="provrNm" value="" readonly="readonly" />
						<span><img id="supplier1" class="biao_provrId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="department col-md-4">
						<span>部门</span><input type="text" id="deptId" class="deptId encds inputText" name="deptId" value="" />
						<input type="text" id="deptName" class="deptName names inputText" name="deptName" value="" readonly="readonly" />
						<span><img class="biao_deptId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="supplierOrder col-md-4">
						<span>供应商订单号</span><input type="text" class="inputText" name="supplierNumber" value="" />
						<input type="text" id='insertId' style="display:none" value="" />
					</div>
					<div class="remarks col-md-4">
						<span>表头备注</span><input type="text" class="inputText" name="remarks" value="" />
					</div>

					<div id="fuze" style="display: none;"></div>
					<div id="departmentEncd" style="display: none;"></div>

				</form>

			</div>
			<div id="findGrid">
				<table id="find_jqgrids"></table>
			</div>
			<table id="jqgrids">
			</table>

			<div id="jqgridPager">
			</div>

		</div>

		<div id="insertList" style="opacity: 0;">
			<div class="purchaseOrder">
				<div class="purchaseTit">
					<div class="buttons">
						<button class="find">查询</button>
						<button class="addWhs">确定</button>
						<button class="cancel12">取消</button>
					</div>
				</div>
				<div class="order-title">
					<form class="row" id="formSave" autocomplete="off">
						<div class="info">
							<div class="supplier col-md-6">
								<span>存货编码</span>
								<input type="text" class="invtyEncd1" name="invtyEncd1" value="" />
							</div>
							<div class="supplier col-md-6">
								<span>存货名称</span>
								<input type="text" class="invtyNm1" name="invtyNm1" value="" />
							</div>
							<div class="supplier col-md-6">
								<span>存货分类编码</span>
								<input type="text" class="invtyClsEncd1" name="invtyClsEncd1" value="" />
							</div>
							<div class="supplier col-md-6">
								<span>存货分类名称</span>
								<input type="text" class="invtyClsNm1" name="invtyClsNm1" value="" />
							</div>
						</div>
					</form>
				</div>
				<div id="provrId1" style="display: none;"></div>
				<div id="provrNm1" style="display: none;"></div>
				<aside>
					<!--左列树-->
					<div id="tree"></div>
				</aside>

				<div id="wrap" style="width:79%">
					<table id="insert_jqgrids"></table>
					<div id="insert_jqGridPager"></div>
				</div>
			</div>
		</div>
	</body>

</html>