<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<title>销售普通发票</title>
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="stylesheet" href="../../assets/css/common/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/js/jqGrid/css/ui.jqgrid-bootstrap4.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/common/octions.css" />
		<link rel="stylesheet" href="../../assets/js/jqueryUI/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/Order/orderPublic.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrCls.css" />
		<link rel="stylesheet" href="../../assets/css/baseDoc/provrDoc.css" />
		<link type="text/css" rel="stylesheet" href="../../assets/css/baseDoc/calendar.min.css" />

		<script type="text/javascript" src="../../assets/js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqueryUI/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/i18n/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../assets/js/jqGrid/js/jquery.jqGrid.js"></script>
		<script type="text/javascript" src="../../assets/js/common/bootstrap.min.js"></script>
		<script type="text/javascript" src='../../assets/js/mis/system/baseDocAll.js'></script>

		<script type="text/javascript" src="../../assets/js/mis/baseDoc/whsDocList.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/ProjClsList.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/insertInvtyList.js"></script>
		<script type="text/javascript" src="../../assets/js/mis/baseDoc/calendar.js"></script>
		<script type="text/javascript" src="../../assets/js/common/location.js"></script>
		<script type="text/javascript" src="../../assets/js/common/drag.js"></script>
	</head>
	<style>
		#tk {
			width: 500px;
			height: 320px;
		    cursor: move;
		    position: absolute;
		    top: 15%;
		    left:33%;
		    background-color: #FFF;
		    border: 1px solid #CCCCCC;
		    border-radius: 4px;
		    -webkit-box-shadow: 10px 10px 25px #ccc;
		    -moz-box-shadow: 10px 10px 25px #ccc;
		    box-shadow: 10px 10px 25px #ccc;
		    display: none;
		    z-index: 19;
		}
		#tk .order-title div {
			margin-top: 30px;
		}
		#mengban {
			z-index: 3!important;
		}
		select {
			outline: none;
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			width: 220px;
			border: 0;
			border-bottom: 1px solid #B8C7CE
		}
		
		select:-ms-expand {
			display: none;
		}
		#insertProjCls_jqgrids{
			width: 100%!important;
		}
		#sell_jqGrids {
			width: 100%!important;
		}
		/*#tk {
			width: 500;
			height: 320px;
			border: 1px solid #CCCCCC;
			background-color: #FFFFFF;
			position: absolute;
			top: 126px;
			left: 35%;
			z-index: 1000!important;
			display: none;
			/*background-color: red;*/
		}
		/*#tk .order-title .info div {
			width: 450px;
			margin-top: 30px;
		}*/
		/*.tk, #tk .order-title div {
			margin-left: 10px;
		}
		#tk .order-title {
			width: 105%!important;
		}*/
		#canzhao_jqGrids {
			width: 100%!important;
		}
		#purs_list .purchaseOrder {
			margin-top: 10px;
		}
		#mengban1 {
			height: 100%!important;
			z-index: 20!important;
		}
		body {
			overflow-x: hidden;
		}
		#loader div {
			width: 3.2em!important;
			height: 3.2em!important;
			line-height: 3.2em!important;
			font-size: 13px!important;
		}
		#loader {
			left: 57%!important;
			top: 40%!important;
		}
		.purchaseTits .buttons button {
		    font-size: 12px;
		    text-align: center;
		    margin-right: 10px;
		    margin-top: 10px;
		    border-radius: 5px;
		    background-color: #272631;
		    color: #FFFFFF;
		    border: none;
		    padding: 3px 10px;
		}
		
		.calendar.min {
			z-index: 99999;
		}
		#big_wrap {
			z-index: 18!important;
		}
	</style>

	<script>
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/purs/sellOrdinaryTab.js?" + new Date().getTime() + "'></scr" + "ipt>");
		document.write("<s" + "cript type='text/javascript' src='../../assets/js/mis/account/sellComnInvCanZhao.js?" + new Date().getTime() + "'></scr" + "ipt>");
	</script>
	<body>
		<div id="purchaseOrder">
			<div class="purchaseTit">
				<!--<h1 class="title">销售发票</h1>-->
				<div class="buttons">
					<!--<button class="importExcel">导入</button>
					<button class="exportExcel">导出</button>-->
					<!--<button class="addOrder">增加</button>-->
					<button class="refer">参照</button>
					<button class="editOrder">修改</button>
					<button class="saveOrder">保存</button>
					<button class="delOrder">删除</button>
					<button class="upOrder">放弃</button>
					<button class="toExamine">审核</button>
					<button class="noTo">弃审</button>
					<!--<button class="search">整单联查</button>-->
				</div>
				<!--<div id="mengban"></div>-->

			</div>
			<div class="order-title">
				<form class="row" id="formSave" autocomplete="off">
					<div class="purchaseType col-md-4">
						<span>发票类型</span><input type="text" class="inputText" name="invTyp" value="" readonly="readonly" />
					</div>
					<div class="purchaseType col-md-4">
						<span>销售类型<b>*</b></span>
						<select name="sellTypId" class="sellTypId">
							<option disabled selected value="0">请选择</option>
							<option value="1">普通销售</option>
							<option value="2">委托代销</option>
						</select>
					</div>
					<div class="orderDates col-md-4">
						<span>开票日期</span>
						<input type="text" class="inputText" readonly="readonly" name="bllgDt" value=""/>
					</div>
					<div class="purchaseType col-md-4">
						<span>发票编码</span><input type="text" id="purType" class="inputText" name="sellInvNum" value="" />
					</div>
					<div class="purchaseType col-md-4">
						<span>客户订单号</span><input type="text" id="custOrdrNum" class="inputText" name="custOrdrNum" value="" />
					</div>
					<div class="orderNumbers col-md-4">
						<span>业务类型<b>*</b></span>
						<select name="bizType" id="bizType">
							<option disabled selected value></option>
							<option value="1">B2B</option>
							<option value="2">B2C</option>
						</select>
					</div>
					<div class="salesman col-md-4">
						<span>业务员<b>*</b></span><input type="text" id="user" class="inputText encds" name="accNum" value=""/>
						<input type="text" id="userName" class="inputText names" name="userName" value="" readonly="readonly" />
						<span><img class="biao_userId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="department col-md-4">
						<span>部门</span><input type="text" id="deptId" class="deptId encds" name="deptId" value=""/>
						<input type="text" id="deptName" class="deptName names" name="deptName" value="" readonly="readonly" />
						<span><img class="biao_deptId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<div class="supplierOrder col-md-4">
						<span>客户</span><input type="text" id="custId" class="custId encds" name="custId" value="" />
						<input type="text" id="custNm" class="custNm names" name="custNm" value="" readonly="readonly"/>
						<span><img class="biao_custId" src="../../assets/img/biaoge.png" alt="" /></span>
					</div>
					<!--<div class="supplierOrder col-md-4" style="display: none;">
						<span>客户Id<b>*</b></span><input type="text" id="custId1" class="inputText" name="custNm" value="" />
						<input type="text" id="custNm1" class="inputText" name="custNm" value="" />
					</div>-->

					<!--<div class="orderNumbers col-md-4">
						<span>科目编码</span><input type="text" class="inputText" name="subjEncd" value="" readonly="readonly" />
					</div>-->
					<div class="orderNumbers col-md-4">
						<span>销售单号</span><input type="text" class="inputText" name="sellSnglNum" value="" readonly="readonly" />
					</div>
					<div class="remarks col-md-4">
						<span>表头备注</span><input type="text" class="inputText" name="memo" value="" />
					</div>

					<div id="fuze" style="display: none;"></div>
					<div id="departmentEncd" style="display: none;"></div>
					<div id="addr" style="display: none;"></div>

				</form>
			</div>
			<table id="jqgrids"></table>
			<!--<table id="jqGrids"></table>-->
			<div id="jqgridPager"></div>
		</div>
		<!--仓库档案-->
		<div id="whsDocList" style="opacity: 0;">
			<div class="purchaseOrder">
				<div class="purchaseTit">
					<div class="buttons">
						<div class="addWhs">确定</div>
						<div class="cancel">取消</div>
						<div class="whs_find">查询</div>
					</div>
				</div>

				<div class="purchaseTit">
					<h1 class="title">仓库档案</h1>
				</div>

				<table id="whs_jqgrids"></table>
				<div id="whs_jqGridPager"></div>
			</div>
		</div>
		<!--存货档案-->
		<div id="insertList" style="opacity: 0;">
			<div class="purchaseOrder">
				<div class="purchaseTit">
					<div class="buttons">
						<button class="addWhs">确定</button>
						<button class="cancel">取消</button>
						<button class="find">查询</button>
					</div>
				</div>

				<div class="purchaseTit">
					<h1 class="title">存货档案列表</h1>
				</div>
				<div class="order-title">
					<form class="row" id="formSave" autocomplete="off">
						<div class="info">
							<div class="supplier col-md-3">
								<span>存货编码</span>
								<input type="text" class="invtyEncd1" name="invtyEncd1" value="" />
							</div>
							<div class="supplier col-md-3">
								<span>存货名称</span>
								<input type="text" class="invtyNm1" name="invtyNm1" value="" />
							</div>
							<div class="supplier col-md-3">
								<span>存货分类编码</span>
								<input type="text" class="invtyClsEncd1" name="invtyClsEncd1" value="" />
							</div>
							<div class="supplier col-md-3">
								<span>存货分类名称</span>
								<input type="text" class="invtyClsNm1" name="invtyClsNm1" value="" />
							</div>
						</div>
					</form>
				</div>

				<aside>
					<!--左列树-->
					<div id="tree"></div>
				</aside>

				<div id="wrap">
					<table id="insert_jqgrids"></table>
					<div id="insert_jqGridPager"></div>
				</div>
			</div>
		</div>
		<!--参照-->
		<div id="purs_list" style="opacity: 0;">
			<div class="purchaseTits">
				<div class="buttons tk">
					<button class="sure">确定</button>
					<button class="refer_cancel">取消</button>
					<button class="tiaojian">查询条件</button>
				</div>
			</div>
			<table id="canzhao_jqGrids"></table>
			<div id="canzhao_jqGridPager"></div>
			
			<table id="canzhao_jqGrids_b"></table>
			<div id="canzhao_jqGridPager_b"></div>
		</div>
		
		<!--查询条件-->
		<div id="big_wrap"></div>
		<!--参照弹窗-->
		<div id="tk" style="opacity: 0;">
			<div class="purchaseTit">
				<div class="buttons tk">
					<button class="yes">确定</button>
					<button class="no">取消</button>
				</div>
			</div>
			<div class="order-title">
				<form class="row" id="formSave" autocomplete="off">
					<div class="info">
						<div class="supplier col-md-24">
							<span>单据类型<b>*</b></span>
							<select name="formTypEncd" id="formTypEncd">
								<option disabled selected value="">请选择</option>
								<option value="007">销售单</option>
								<!--<option value="008">退货单</option>
								<option value="025">委托代销结算单</option>-->
							</select>
						</div>
						<div class="orderDates col-md-24">
							<span>单据日期<b>*</b></span><input type="text" class="date formDt1 date1" readonly="readonly" name="formDt1" value="" calendar="YYYY-MM-DD" />到<input type="text" class="date formDt2 date2" readonly="readonly" name="formDt2" value="" calendar="YYYY-MM-DD" />
						</div>
						<div class="salesman col-md-24">
							<span>业务员</span>
							<input type="text" class="inputText encds" name="accNum1" value=""/>
							<input type="text" class="inputText names" name="userName1" value="" readonly="readonly" />
							<span><img class="biao_userId" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="supplierOrder col-md-24">
							<span>客户</span><input type="text" class="custId encds" name="custId1" value="" />
							<input type="text" class="custNm names" name="custNm1" value="" readonly="readonly"/>
							<span><img class="biao_custId" src="../../assets/img/biaoge.png" alt="" /></span>
						</div>
						<div class="supplierOrder col-md-24">
							<span>客户订单号</span>
							<input type="text" class="custOrdrNum1" name="custOrdrNum1" value="" />
						</div>
						<div id="custId1" style="display: none;"></div>
						<div id="custNm1" style="display: none;"></div>
					</div>
				</form>
			</div>
		</div>
		
		<!--项目编码-->
		<div id="ProjClsList">
			<div id="purchaseOrder">
				<div class="purchaseTit">
					<div class="buttons">
						<button class="pro_sure">确定</button>
						<button class="pro_cancel">取消</button>
						<button class="search_pro">查询</button>
					</div>
				</div>
				<div class="order-title">
					<form class="row" id="formSave" autocomplete="off">
						<div class="info">
							<div class="supplier col-md-4">
								<span>项目编码</span>
								<input type="text" id="projEncd1" name="projEncd1" value="" />
							</div>
							<div class="supplier col-md-4">
								<span>项目名称 </span>
								<input type="text" id="projNm1" name="projNm1" value="" />
							</div>
						</div>
					</form>
				</div>

				<table id="insertProjCls_jqgrids"></table>
				<div id="insertProjCls_jqGridPager"></div>
			</div>
		</div>
	</body>

</html>