.upload{
    padding: 4px 10px;
    height: 25px;
    line-height: 20px;
    position: relative;
    border: 1px solid #999;
    text-decoration: none;
    color: #666;
    
}
.change{
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    cursor:pointer;
    opacity: 0;
    width: 10px;
    height: 10px;
    padding: 20px 38px 0 10px;
}
